:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  }

  .add-container {
    position:fixed;;
    top:0;
    right: 50%;
    transform:translate(50%);
    background-color: var(--bs-gray);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0.5;

  }
  .register {
    position: absolute;
    overflow:scroll;
    overflow: hidden;
    top: 20px;
    background-color:var(--bs-white) ;
    padding: 30px;
    width: 700px;
    height: 100%;
    right: 50%;
    transform: translate(50%);
    opacity: 1;
    border-radius: 15px;
    -webkit-box-shadow: -1px 13px 16px 1px rgba(0,0,0,0.65); 
    box-shadow: -1px 13px 16px 1px rgba(0,0,0,0.65);

  }
  .register form {
    position: relative;
    top: 80px;

  }
  .create-cont{
    color: var(--bs-light);
    width: 100%;
    height: 80px;
    background-color: var(--bs-dark);
    position: absolute;
    text-align: center;
    justify-content: center;
    top:0;
    left:0;

  }
  .create-cont i{
    position: absolute;
    right: 20px;
    top: 20px;
    
  }
  #register-btn {
    position: relative;
    margin-bottom: 20px;
    border-radius: 30px;
    height: 40px;
  }
  /* width */
.register::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px;
  position: absolute;
  right: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:var(--bs-dark); 
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:var(--bs-dark); 
}
