
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  }
  .container-nav {
    position: relative;
    overflow:hidden;
    border-radius: 15px;
    width: 1300px;
    height: 700px;
    margin: 0 auto;

}
.ojt-table {
    position:relative;
    overflow: scroll;
    padding: 10px;
    bottom: -200px;
    right: -270px;
    width: 100%;
    height: 500px;
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: -1px 6px 10px -1px rgba(143,143,143,0.77); 
    box-shadow: -1px 6px 10px -1px rgba(143,143,143,0.77);

}
/* .ojt-table .table {

    position: relative;
    width:auto;
    height:auto;
    overflow: scroll  ;
} */

  .container-nav .add-button {
    font-size: 20px;
    position:absolute;
    border-radius: 10px;
    right: 0;
    top: 21%;
    -webkit-box-shadow: 0px 6px 9px 1px #4D4D4D; 
    box-shadow: 0px 6px 9px 1px #4D4D4D;

}
.container-nav .add-button .btn {
    font-size: 18px;
    
}

